.badge-approved {
    background-color: #27ae60; /* Fresh Green */
    font-size: 0.5rem;
    padding: 0.5rem 1rem;
    border-radius: 50px;
    color: #fff;
    box-shadow: 0 2px 6px rgba(39, 174, 96, 0.3);
}

.badge-pending {
    background-color: #e67e22; /* Soft Amber Orange */
    color: #fff;
    font-size: 0.5rem;
    padding: 0.5rem 1rem;
    border-radius: 50px;
    box-shadow: 0 2px 6px rgba(230, 126, 34, 0.3);
}

.badge-declined {
    background-color: #c0392b; /* Deep Muted Red */
    font-size: 0.5rem;
    padding: 0.5rem 1rem;
    border-radius: 50px;
    color: #fff;
    box-shadow: 0 2px 6px rgba(192, 57, 43, 0.3);
}

table th,
table td {
    padding: 1rem !important;
    vertical-align: middle;
}

.dashboard-header h4 a {
    color: #007bff;
    font-weight: 500;
}

.dashboard-header h4 {
    font-size: 1.5rem;
    color: #333;
    font-weight: 600;
}

.modal-header {
    border-bottom: 1px solid #dee2e6;
}

.modal-content {
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.DbData {
    border: none;
    background-color: white;
}
