@{
    ViewBag.Title = "Baseline Budget ";
    Layout = "~/Views/Shared/ProjectMaster_Layout.cshtml";
}

<style>
    a.color-blue {
        color: blue !important;
    }

        a.color-blue:hover {
            color: #000 !important;
        }

    .tabs_data .fade:not(.show) {
        opacity: 1;
    }

    .tabs_list li a.active, .tabs_list li a:hover {
        padding: 7px 20px;
        background: #fd6100;
        border-radius: 20px 0px;
        color: #fff;
        float: left;
        border-radius: 5px 40px 0 0;
        clip-path: polygon(0 0%, 0% 0, 90% 0, 95% 30%, 100% 80%, 100% 100%, 10% 100%, 0% 100%, 0% 10%);
    }

    .tabs_list li a {
        padding: 7px 20px;
        background: #dedede;
        border-radius: 20px 0px;
        color: #000;
        margin: 0px 0px;
        float: left;
        border-radius: 5px 40px 0 0;
        clip-path: polygon(0 0%, 0% 0, 90% 0, 95% 30%, 100% 80%, 100% 100%, 10% 100%, 0% 100%, 0% 10%);
    }

    .tabs_list li, .tabs_list li:hover {
        padding: 0px;
        margin: 0px;
        background: transparent;
    }

    .list_baseline ul {
        display: flex;
        list-style-type: none;
        justify-content: end;
        margin-bottom: 0px;
    }

        .list_baseline ul li {
            margin-left: 20px;
            font-size: 10px;
            color: #ff6b00;
            font-weight: bold;
        }

            .list_baseline ul li b {
                color: #000;
                font-weight: normal;
            }

    td input {
        border: 1px solid #000 !important;
    }
</style>
<section>
    <div class="card-box mb-1 card_height pb-3 sg pt-1 test123">
        @*<div class="row">
                <div class="col-md-2">
                    <div class="page-title">
                        <h4>Baseline Budget</h4>
                    </div>
                </div>
            </div>*@
        <div class="list_baseline pb-1">
            <ul>
                <li>
                    <b>Project ID:</b> IN-100001251 Cocoa Butter Body Lotion 400 ml
                </li>
                <li>
                    <b>Template:</b>CPD-IN
                </li>
                <li>
                    <b> Project Created Date:</b>12-Jun-23
                </li>
                <li>
                    <b> Approved Baseline Budget (INR):</b>
                </li>
                <li>
                    <b> Approved Additional Budget (INR):</b>
                </li>


            </ul>
        </div>

        <div>
            <ul class="nav nav-tabs tabs_list">
                <li><a data-toggle="tab" href="#home" class="active">BaseLine Budget Approval</a></li>
                <li><a data-toggle="tab" href="#menu1">Additional Budget Approval</a></li>
            </ul>
            <div class="tab-content tabs_data pt-2">
                <div id="home" class="tab-pane fade in active">
                    <div class="row">

                        <div class="col-md-2">
                            <div class="form-group mb-0 ">
                                <label class="control-label">Department </label>
                                <select class="form-control" data-singleselect>
                                    <option>Select</option>
                                    <option>PD CPD</option>
                                    <option>R&D (Clinical)</option>
                                    <option>R&D (FD-CP)</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="form-group mb-0 ">
                                <label class="control-label">Category</label>
                                <select class="form-control" data-singleselect>
                                    <option>Select</option>
                                    <option>Product Development</option>
                                    <option>Travel</option>
                                    <option>RM Procurement</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="form-group mb-0 mt-4">
                                <button type="button" id="SearchPMData" class="btn btn-info c-add-details waves-light waves-effect" title="Search">
                                    <i class="fas fa-search"></i>
                                </button>

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="text-right mt-4">
                                <button type="button" id="SearchPMData" class="btn btn-danger m-0 c-add-details waves-light waves-effect" title="Search">
                                    Reject
                                </button>
                                <button type="button" id="SearchPMData" class="btn btn-success m-0 c-add-details waves-light waves-effect" title="Search">
                                    Approve
                                </button>
                                <button type="button" id="SearchPMData" class="btn btn-success m-0 c-add-details waves-light waves-effect" title="Search">
                                    Save & Confirm
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="">
                                <div class="m-table__main mt-2 mb-2">
                                    <div class="m-table__responsive -virtual-scroll">
                                        <table id="list" class="table table-bordered"></table>
                                        <div id="list_pager"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="menu1" class="tab-pane fade">
                    <div class="row">

                        <div class="col-md-2">
                            <div class="form-group mb-0 ">
                                <label class="control-label">Department </label>
                                <select class="form-control" data-singleselect>
                                    <option>Select</option>
                                    <option>PD CPD</option>
                                    <option>R&D (Clinical)</option>
                                    <option>R&D (FD-CP)</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="form-group mb-0 ">
                                <label class="control-label">Category</label>
                                <select class="form-control" data-singleselect>
                                    <option>Select</option>
                                    <option>Product Development</option>
                                    <option>Travel</option>
                                    <option>RM Procurement</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="form-group mb-0 mt-4">
                                <button type="button" id="SearchPMData" class="btn btn-info c-add-details waves-light waves-effect" title="Search">
                                    <i class="fas fa-search"></i>
                                </button>

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="text-right mt-4">
                                <button type="button" id="SearchPMData" class="btn btn-danger m-0 c-add-details waves-light waves-effect" title="Search">
                                    Reject
                                </button>
                                <button type="button" id="SearchPMData" class="btn btn-success m-0 c-add-details waves-light waves-effect" title="Search">
                                    Approve
                                </button>
                                <button type="button" id="SearchPMData" class="btn btn-success m-0 c-add-details waves-light waves-effect" title="Search">
                                    Save & Confirm
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="">
                                <div class="m-table__main mt-2 mb-2">
                                    <div class="m-table__responsive -virtual-scroll">
                                        <table id="additional_list" class="table table-bordered"></table>
                                        <div id="additional_pager"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

<div class="modal fade budget_popup" id="approvedInfo" tabindex="-1" aria-labelledby="exampleModalLabel" aria-modal="true" role="dialog">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Baseline Budget Approved Info</h5>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="">
                                <div class="m-table__main mt-2 mb-2">
                                    <div class="m-table__responsive -virtual-scroll">
                                        <table id="approved_grid" class="table table-bordered"></table>
                                        <div id="approved_pager"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade budget_popup" id="additionalInfo" tabindex="-1" aria-labelledby="exampleModalLabel" aria-modal="true" role="dialog">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Budget Approved Info</h5>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="">
                                <div class="m-table__main mt-2 mb-2">
                                    <div class="m-table__responsive -virtual-scroll">
                                        <table id="approved_grid1" class="table table-bordered"></table>
                                        <div id="approved_pager1"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    data = [
        {
            "ProjectId": "IN-100001243 Himalaya Purifying Neem Acne Patch",
            "TemplateName": "CPD-IN",
            "Department": "PD CPD",
            "NoOfPendingRequest": "2",
            "ProjectCreatedDate": "12-Jun-23",
        },
        {
            "ProjectId": "IN-100001251 Cocoa Butter Body Lotion 400 ml",
            "TemplateName": "CPD-IN",
            "Department": "PD CPD",
            "NoOfPendingRequest": "2",
            "ProjectCreatedDate": "15-May-23",
        },
        {
            "ProjectId": "IN-100001252 Marula Oil Body Lotion 400 ml",
            "TemplateName": "CPD-IN",
            "Department": "PD CPD",
            "NoOfPendingRequest": "1",
            "ProjectCreatedDate": "12-Feb-23",
        },
        {
            "ProjectId": "IN- 100001242 Himalaya Purifying Neem Acne Serum",
            "TemplateName": "CPD-IN",
            "Department": "PD CPD",
            "NoOfPendingRequest": "1",
            "ProjectCreatedDate": "12-Mar-23",
        },
    ]
    colmodels = [

        //{
        //    name: 'Action',
        //    label: 'Action',
        //    width: 90,
        //    search: false,
        //    resizable: true,
        //    ignoreCase: true,
        //    sortable: false,
        //    formatter: function (cellvalue, options, rowobject) {
        //        return '<div class="d-flex action_icons align-items-center" title="">' +
        //            '<a href="#" class="" title="" data-toggle="modal" data-target="#ViewProjectData"><i class="fas fa-plus"></i></a>' +
        //            '</div>';
        //    }
        //},
        {
            name: 'ProjectId',
            label: 'Project ID',
            width: 200,
            resizable: true,
            ignoreCase: true,
            formatter: function (cellvalue, options, rowobject) {
                return '<div class="d-flex action_icons align-items-center" title="">' +
                    '<a href="@Url.Content("~/ProjectMaster/BaseLineBudgetTab")" class="text-info color-blue" title="">' + cellvalue + '</a>' +
                    '</div>';
            }
        },
        {
            name: 'TemplateName',
            label: 'Template Name',
            width: 120,
            resizable: true,
            ignoreCase: true,
        },
        {
            name: 'Department',
            label: 'Department',
            width: 120,
            resizable: true,
            ignoreCase: true,
        },
        {
            name: 'NoOfPendingRequest',
            label: 'No Of Pending Request',
            width: 120,
            resizable: true,
            ignoreCase: true,
        },
        {
            name: 'ProjectCreatedDate',
            label: 'Project Created Date',
            width: 120,
            resizable: true,
            ignoreCase: true,
        },
    ],

        $("#category_grid").jqGrid({
            url: '',
            datatype: 'local',
            data: data,
            mtype: 'GET',
            colModel: colmodels,
            loadonce: true,
            viewrecords: true,
            pager: '#category_pager',
            rowNum: 30,
            scroll: 1,

            gridComplete: function () {
                var objRows = $("#category_grid tbody tr");
                var objHeader = $("#category_grid tbody tr td");

                if (objRows.length > 1) {
                    var objFirstRowColumns = $(objRows[1]).children("td");
                    for (i = 0; i < objFirstRowColumns.length; i++) {
                        $(objFirstRowColumns[i]).css("width", $(objHeader[i]).css("width"));
                    }
                }

            }
        });
    $("#category_grid").jqGrid('filterToolbar', {
        autosearch: true,
        stringResult: false,
        searchOnEnter: false,
        defaultSearch: "cn"
    });

</script>


<script>
    $(document).ready(function () {
        var mydata = [
            { id: "1", Ckb: "", Action: "",Department: "PD CPD", Category: "Product Development", ReqBaselineBudget: "50000", ApproveBaselineBudget: "40000", RequestedBy: "Amit", RequestedOn: "18-May-23", BaseLineBudgetStatus: "Pending For Approval", attr: { Ckb: { rowspan: "1" }, Action: { rowspan: "1" }, ProjectId: { rowspan: "1" }, TemplateName: { rowspan: "1" }, ProjectCreatedDate: { rowspan: "1" }, Department: { rowspan: "1" } } },
            { id: "2", Ckb: "", Action: "",Department: "R&D (Clinical)", Category: "Clinical Research", ReqBaselineBudget: "40000", ApproveBaselineBudget: "40000", RequestedBy: "Amit", RequestedOn: "18-May-23", BaseLineBudgetStatus: "Pending For Approval", attr: { Ckb: { rowspan: "1" }, Action: { rowspan: "1" }, ProjectId: { rowspan: "1" }, TemplateName: { rowspan: "1" }, ProjectCreatedDate: { rowspan: "1" }, Department: { rowspan: "1" } } },
            { id: "3", Ckb: "", Action: "",Department: "R&D (FD-CP)", Category: "Product Development", ReqBaselineBudget: "60000", ApproveBaselineBudget: "40000", RequestedBy: "Rahul", RequestedOn: "12-Apr-23", BaseLineBudgetStatus: "Approved", attr: { Ckb: { rowspan: "3" }, Action: { rowspan: "3" }, ProjectId: { rowspan: "3" }, TemplateName: { rowspan: "3" }, ProjectCreatedDate: { rowspan: "3" }, Department: { rowspan: "3" } } },
            { id: "4", Ckb: "", Action: "",Department: "", Category: "Travel", ReqBaselineBudget: "40000", ApproveBaselineBudget: "40000", RequestedBy: "Rahul", RequestedOn: "13-May-23", ApproveBaselineBudget: "40000", BaseLineBudgetStatus: "Approved", attr: { Ckb: { display: "none" }, Action: { display: "none" }, ProjectId: { display: "none" }, TemplateName: { display: "none" }, ProjectCreatedDate: { display: "none" }, Department: { display: "none" } } },
            { id: "5", Ckb: "", Action: "", Department: "", Category: "Product Development", ReqBaselineBudget: "40000", ApproveBaselineBudget: "40000", RequestedBy: "Madhuri", RequestedOn: "13-Jun-23", BaseLineBudgetStatus: "Approved", attr: { Ckb: { display: "none" }, Action: { display: "none" }, ProjectId: { display: "none" }, TemplateName: { display: "none" }, ProjectCreatedDate: { display: "none" }, Department: { display: "none" } } },
            //{ id: "3", Departments: "R&D (Clinical)", Category: "Product Development", BaselineBudget: "500000", BaseLineBudgetUpdatedBy: "Amit", BaseLineBudgetUpdatedOn: "18-May-23", AdditionalBudget: "50000", AdditionalBudgetHistory: "", attr: { Departments: { rowspan: "2" }, Category: { rowspan: "2" } } },
            //{ id: "4", Departments: "R&D (Clinical)", Category: "Travel", BaselineBudget: "300000", BaseLineBudgetUpdatedBy: "Amit", BaseLineBudgetUpdatedOn: "18-May-23", AdditionalBudget: "10000", AdditionalBudgetHistory: "", attr: { Departments: { display: "none" }, Category: { display: "none" } } },
            //{ id: "5", Departments: "R&D (FD-CP)", Category: "Product Development", BaselineBudget: "500000", BaseLineBudgetUpdatedBy: "Amit", BaseLineBudgetUpdatedOn: "18-May-23", AdditionalBudget: "50000", AdditionalBudgetHistory: "", attr: { Departments: { rowspan: "2" }, Category: { rowspan: "2" } } },
            //{ id: "6", Departments: "R&D (FD-CP)", Category: "Travel", BaselineBudget: "300000", BaseLineBudgetUpdatedBy: "Amit", BaseLineBudgetUpdatedOn: "18-May-23", AdditionalBudget: "10000", AdditionalBudgetHistory: "", attr: { Departments: { display: "none" }, Category: { display: "none" } } },



        ],
            arrtSetting = function (rowId, val, rawObject, cm) {
                var attr = rawObject.attr[cm.name], result;
                if (attr.rowspan) {
                    result = ' rowspan=' + '"' + attr.rowspan + '"';
                } else if (attr.display) {
                    result = ' style="display:' + attr.display + '"';
                }
                return result;
            };

        $("#additional_list").jqGrid({
            datatype: 'local',
            data: mydata,
            colNames: ['Ckb', 'Action', 'Department', 'Category', 'Req Budget (INR)', 'Approved Budget (INR)', 'Status', 'Requested By', 'Requested On',],
            colModel: [

                {
                    name: 'Ckb', label: '<input type="checkbox" />', cellattr: arrtSetting, width: 40, search: false, classes: 'ckb1',
                    formatter: function (cellvalue, options, rowobject) {
                        if (rowobject.BaseLineBudgetStatus == "Approved") {
                            return '';
                        }
                        else if (rowobject.BaseLineBudgetStatus == "Pending For Approval") {
                            return '<div class="d-flex action_icons align-items-center justify-content-between" title="">' +
                                '<input type="checkbox" name="ckbk"/> ' +
                                '</div>';
                        }


                    }
                },
                {
                    name: 'Action', align: 'center', classes: 'trs', cellattr: arrtSetting, width: 90, search: false,
                    formatter: function (cellvalue, options, rowobject) {
                        if (rowobject.BaseLineBudgetStatus == "Approved") {
                            return '<div class="d-flex action_icons align-items-center justify-content-between" title="">' +
                                '<a href="#" class="pl-1" title="Info" data-toggle="modal" data-target="#additionalInfo"> <i class="fas fa-info"></i></a > ' +
                                /*'<a href="#" class="" title="Request for Additional Budget" data-toggle="modal" data-target="#ViewProjectData"> <img src="../images/money-bag.png" width="22px"/></a> ' +*/
                                /*'<a href="#" class="pl-1" title="Info" data-toggle="modal" data-target="#approvedInfo"> <i class="fas fa-info"></i></a > ' +*/
                                //'<a href="#" class="" title="Thumbs Up" > <i class="fas fa-thumbs-up text-success"></i></a> ' +
                                //'<a href="#" class="" title="Thumbs Down"> <i class="fas fa-thumbs-down text-danger"></i></a> ' +
                                '</div>';
                        }
                        else if (rowobject.BaseLineBudgetStatus == "Pending For Approval") {
                            return '<div class="d-flex action_icons align-items-center justify-content-between" title="">' +
                                '<a href="#" class="pl-1" title="Info" data-toggle="modal" data-target="#additionalInfo"> <i class="fas fa-info"></i></a > ' +
                                /*'<a href="#" class="" title="Info" data-toggle="modal" data-target="#approvedInfo"> <i class="fas fa-info"></i></a>' +*/
                                '<a href="#" class="" title="Thumbs Up" > <i class="fas fa-thumbs-up text-success"></i></a> ' +
                                '<a href="#" class="" title="Thumbs Down"> <i class="fas fa-thumbs-down text-danger"></i></a> ' +
                                '</div>';
                        }


                    }
                },
                /*{ name: 'state',  align: 'center', cellattr: arrtSetting },*/
                //{ name: 'ProjectId', classes: 'trs1', cellattr: arrtSetting, width: 220, },
                //{ name: 'TemplateName', cellattr: arrtSetting, width: 120 },
                //{ name: 'ProjectCreatedDate', cellattr: arrtSetting, width: 120 },
                {
                    name: 'Department', width: 140, cellattr: arrtSetting

                },
                {
                    name: 'Category', width: 160

                },
                {
                    name: 'ReqBaselineBudget',
                    width: 120,
                    formatter: function (cellvalue, options, rowobject) {
                        if (rowobject.BaseLineBudgetStatus == "Pending For Approval") {
                            //return '<div class="d-flex action_icons input_budget -items-center" title="">' +
                            //    '<input type="text" class="form-control" value="' + cellvalue +'" />' +
                            //    '</div>';
                            return '<div class="text-right">' + cellvalue + '</div>';
                        }
                        else if (rowobject.BaseLineBudgetStatus == "Approved") {
                            return '<div class="text-right">' + cellvalue + '</div>';
                        }

                    },
                },
                {
                    name: 'ApproveBaselineBudget',
                    width: 140,
                    formatter: function (cellvalue, options, rowobject) {
                        if (rowobject.BaseLineBudgetStatus == "") {
                            return '';
                        }
                        else if (rowobject.BaseLineBudgetStatus == "Approved") {
                            return '<div class="text-right">' + cellvalue + '</div>';
                        }
                        else if (rowobject.BaseLineBudgetStatus == "Pending For Approval") {
                            return '<div class="d-flex action_icons input_budget -items-center" title="">' +
                                '<input type="text" class="form-control" value="' + cellvalue + '" />' +
                                '</div>';
                        }

                    },
                },
                //{
                //    name: 'ApproveBaselineBudget',
                //    width: 140,
                //    formatter: function (cellvalue, options, rowobject) {
                //        if (rowobject.BaseLineBudgetStatus == "") {
                //            return '';
                //        }
                //        else if (rowobject.BaseLineBudgetStatus == "Approved") {
                //            return '<div class="text-right">' + cellvalue + '</div>';
                //        }
                //        else if (rowobject.BaseLineBudgetStatus == "Pending For Approval") {
                //            return '<div class="d-flex action_icons input_budget -items-center" title="">' +
                //                '<input type="text" class="form-control" value="' + cellvalue + '" />' +
                //                '</div>';
                //        }

                //    },
                //},
                {
                    name: 'BaseLineBudgetStatus',
                    width: 180,
                    formatter: function (cellvalue, options, rowobject) {
                        if (rowobject.BaseLineBudgetStatus == "Pending For Approval") {
                            return '<a href="#" class="task_status value_info "> <span class="text-warning">' + cellvalue + '</span></a>'
                        }
                        else if (rowobject.BaseLineBudgetStatus == "Approved") {
                            return '<a href="#" class="task_status value_info "> <span class="text-success">' + cellvalue + '</span></a>'
                        }


                    }
                },

                {
                    name: 'RequestedBy',
                    width: 140,

                },
                {
                    name: 'RequestedOn',
                    width: 140,
                },
                //{
                //    name: 'BaseLineBudgetApprovedOn',
                //    width: 140,

                //},
                //{
                //    name: 'BaseLineBudgetApprovedBy',
                //    width: 140,
                //},
                //{
                //    name: 'RevisedBudget', width: 120,
                //    formatter: function (cellvalue, options, rowobject) {
                //        if (rowobject.RevisedBudget == "400000") {
                //            return '<a href="#" class="task_status value_info ">' + cellvalue + '</a>'
                //        }
                //        else if (rowobject.RevisedBudget == "150000") {
                //            return '<a href="#" class="task_status value_info "> ' + cellvalue + '</a>'
                //        }
                //        else if (rowobject.RevisedBudget == "") {
                //            return ''
                //        }


                //    }
                //},


            ],
            cmTemplate: { sortable: false },
            loadonce: true,
            viewrecords: true,
            pager: '#additional_pager',
            rowNum: 20,
            hoverrows: false,
            scroll: 1,
            beforeSelectRow: function () {
                return false;
            }
        });

        $("#additional_list").jqGrid('filterToolbar', {
            autosearch: true,
            stringResult: false,
            searchOnEnter: false,
            defaultSearch: "cn"
        });

        $('.ui-jqgrid-bdiv').css({ 'max-height': '45vh' });
        $('.ui-jqgrid-bdiv').children("div").css({ 'min-height': '0vh' });
        var $TableHeight = $(".ui-jqgrid-bdiv").find("tbody").height();
        if ($TableHeight > 130) {
            $(".ui-jqgrid").find(".ui-jqgrid-bdiv").css("overflow", "auto");
            $(".-virtual-scroll").find(".ui-jqgrid-hdiv").css("padding-right", "6px");
        }
        else {
            $(".ui-jqgrid").find(".ui-jqgrid-bdiv").css("overflow", "auto");
            $(".-virtual-scroll").find(".ui-jqgrid-hdiv").css("padding-right", "0px")
        }


        $('[data-singleselect]').select2()
        $('.data-singleselect').select2()
        $('.data-singleselect').select2({
            dropdownParent: $('#add_project')
        });
    })
</script>



<script>
    $(document).ready(function () {
        var mydata = [
            {
                id: "1", Ckb: "", Action: "", Department: "PD CPD", Category: "Product Development", ReqBaselineBudget: "50000", ApproveBaselineBudget: "40000", RequestedBy: "Amit", RequestedOn: "18-May-23", BaseLineBudgetStatus: "Pending For Approval", attr: { Ckb: { rowspan: "2" }, Action: { rowspan: "2" }, ProjectId: { rowspan: "2" }, TemplateName: { rowspan: "2" }, ProjectCreatedDate: { rowspan: "2" }, Department: { rowspan: "2" } }
            },
            { id: "2", Ckb: "", Action: "",Department: "PD CPD", Category: "Travel", ReqBaselineBudget: "40000", ApproveBaselineBudget: "40000", RequestedBy: "Amit", RequestedOn: "18-May-23", BaseLineBudgetStatus: "Pending For Approval", attr: { Ckb: { display: "none" }, Action: { display: "none" }, ProjectId: { display: "none" }, TemplateName: { display: "none" }, ProjectCreatedDate: { display: "none" }, Department: { display: "none" } } },
            {
                id: "3", Ckb: "", Action: "", Department: "R&D (Clinical)", Category: "Clinical Research", ReqBaselineBudget: "40000", ApproveBaselineBudget: "30000", RequestedBy: "Raghu", RequestedOn: "19-Sep-23", BaseLineBudgetStatus: "Pending For Approval", attr: { Ckb: { rowspan: "1" }, Action: { rowspan: "1" }, ProjectId: { rowspan: "1" }, TemplateName: { rowspan: "1" }, ProjectCreatedDate: { rowspan: "1" }, Department: { rowspan: "1" } }
            },
            {
                id: "4", Ckb: "", Action: "",Department: "R&D (FD-CP)", Category: "Product Development", ReqBaselineBudget: "60000", ApproveBaselineBudget: "60000", RequestedBy: "Rahul", RequestedOn: "12-Apr-23", BaseLineBudgetStatus: "Approved", attr: { Ckb: { rowspan: "3" }, Action: { rowspan: "3" }, ProjectId: { rowspan: "3" }, TemplateName: { rowspan: "3" }, ProjectCreatedDate: { rowspan: "3" }, Department: { rowspan: "3" } }
            },
            { id: "5", Ckb: "", Action: "",Department: "", Category: "Travel", ReqBaselineBudget: "40000", ApproveBaselineBudget: "40000", RequestedBy: "Rahul", RequestedOn: "13-May-23", BaseLineBudgetStatus: "Approved", attr: { Ckb: { display: "none" }, Action: { display: "none" }, ProjectId: { display: "none" }, TemplateName: { display: "none" }, ProjectCreatedDate: { display: "none" }, Department: { display: "none" } } },
            {
                id: "6", Ckb: "", Action: "", Department: "", Category: "Product Development", ReqBaselineBudget: "40000", ApproveBaselineBudget: "30000", RequestedBy: "Madhuri", RequestedOn: "13-Jun-23", BaseLineBudgetStatus: "Approved", attr: { Ckb: { display: "none" }, Action: { display: "none" }, ProjectId: { display: "none" }, TemplateName: { display: "none" }, ProjectCreatedDate: { display: "none" }, Department: { display: "none" } }
            },
            //{ id: "3", Departments: "R&D (Clinical)", Category: "Product Development", BaselineBudget: "500000", BaseLineBudgetUpdatedBy: "Amit", BaseLineBudgetUpdatedOn: "18-May-23", AdditionalBudget: "50000", AdditionalBudgetHistory: "", attr: { Departments: { rowspan: "2" }, Category: { rowspan: "2" } } },
            //{ id: "4", Departments: "R&D (Clinical)", Category: "Travel", BaselineBudget: "300000", BaseLineBudgetUpdatedBy: "Amit", BaseLineBudgetUpdatedOn: "18-May-23", AdditionalBudget: "10000", AdditionalBudgetHistory: "", attr: { Departments: { display: "none" }, Category: { display: "none" } } },
            //{ id: "5", Departments: "R&D (FD-CP)", Category: "Product Development", BaselineBudget: "500000", BaseLineBudgetUpdatedBy: "Amit", BaseLineBudgetUpdatedOn: "18-May-23", AdditionalBudget: "50000", AdditionalBudgetHistory: "", attr: { Departments: { rowspan: "2" }, Category: { rowspan: "2" } } },
            //{ id: "6", Departments: "R&D (FD-CP)", Category: "Travel", BaselineBudget: "300000", BaseLineBudgetUpdatedBy: "Amit", BaseLineBudgetUpdatedOn: "18-May-23", AdditionalBudget: "10000", AdditionalBudgetHistory: "", attr: { Departments: { display: "none" }, Category: { display: "none" } } },



        ],
            arrtSetting = function (rowId, val, rawObject, cm) {
                var attr = rawObject.attr[cm.name], result;
                if (attr.rowspan) {
                    result = ' rowspan=' + '"' + attr.rowspan + '"';
                } else if (attr.display) {
                    result = ' style="display:' + attr.display + '"';
                }
                return result;
            };

        $("#list").jqGrid({
            datatype: 'local',
            data: mydata,
            colNames: ['Ckb', 'Action', 'Department', 'Category', 'Req Baseline Budget (INR)', 'L1 Approved Baseline Budget (INR)', 'BaseLine Budget Status', 'Requested By', 'Requested On',],
            colModel: [
                {
                    name: 'Ckb', label: '<input type="checkbox" />', cellattr: arrtSetting, width: 40, search: false, classes: 'ckb1',
                    formatter: function (cellvalue, options, rowobject) {
                        if (rowobject.BaseLineBudgetStatus == "Approved") {
                            return '';
                        }
                        else if (rowobject.BaseLineBudgetStatus == "Pending For Approval") {
                            return '<div class="d-flex action_icons align-items-center justify-content-between" title="">' +
                                '<input type="checkbox" name="ckbk"/> ' +
                                '</div>';
                        }


                    }
                },
                {
                    name: 'Action', align: 'center', classes: 'trs', cellattr: arrtSetting, width: 90, search: false,
                    formatter: function (cellvalue, options, rowobject) {
                        if (rowobject.BaseLineBudgetStatus == "Approved") {
                            return '<div class="d-flex action_icons align-items-center justify-content-between" title="">' +
                                /*'<a href="#" class="" title="Request for Additional Budget" data-toggle="modal" data-target="#ViewProjectData"> <img src="../images/money-bag.png" width="22px"/></a> ' +*/
                                '<a href="#" class="pl-1" title="Info" data-toggle="modal" data-target="#approvedInfo"> <i class="fas fa-info"></i></a > ' +
                                //'<a href="#" class="pl-1" title="Approve" > <i class="fas fa-thumbs-up text-success"></i></a> ' +
                                //'<a href="#" class="pl-1" title="Reject"> <i class="fas fa-thumbs-down text-danger"></i></a> ' +
                                '</div>';
                        }
                        else if (rowobject.BaseLineBudgetStatus == "Pending For Approval") {
                            return '<div class="d-flex action_icons align-items-center justify-content-between" title="">' +
                                '<a href="#" class="" title="Info" data-toggle="modal" data-target="#approvedInfo"> <i class="fas fa-info"></i></a>' +
                                '<a href="#" class="pl-1" title="Approve" > <i class="fas fa-thumbs-up text-success"></i></a> ' +
                                '<a href="#" class="pl-1" title="Reject"> <i class="fas fa-thumbs-down text-danger"></i></a> ' +
                                '</div>';
                        }


                    }
                },
                /*{ name: 'state',  align: 'center', cellattr: arrtSetting },*/
                //{ name: 'ProjectId', classes: 'trs1', cellattr: arrtSetting, width: 220, },
                //{ name: 'TemplateName', cellattr: arrtSetting, width: 120 },
                //{ name: 'ProjectCreatedDate', cellattr: arrtSetting, width: 120 },
                {
                    name: 'Department', width: 180, cellattr: arrtSetting

                },
                {
                    name: 'Category', width: 180

                },
                {
                    name: 'ReqBaselineBudget',
                    width: 140,
                    formatter: function (cellvalue, options, rowobject) {
                        if (rowobject.BaseLineBudgetStatus == "Pending For Approval") {
                            //return '<div class="d-flex action_icons input_budget -items-center" title="">' +
                            //    '<input type="text" class="form-control" value="' + cellvalue +'" />' +
                            //    '</div>';
                            return '<div class="text-right">' + cellvalue + '</div>';
                        }
                        else if (rowobject.BaseLineBudgetStatus == "Approved") {
                            return '<div class="text-right">' + cellvalue + '</div>';
                        }

                    },
                },
                {
                    name: 'ApproveBaselineBudget',
                    width: 140,
                    formatter: function (cellvalue, options, rowobject) {
                        if (rowobject.BaseLineBudgetStatus == "") {
                            return '';
                        }
                        else if (rowobject.BaseLineBudgetStatus == "Approved") {
                            return '<div class="text-right">' + cellvalue + '</div>';
                        }
                        else if (rowobject.BaseLineBudgetStatus == "Pending For Approval") {
                            return '<div class="d-flex action_icons input_budget -items-center" title="">' +
                                '<input type="text" class="form-control" value="' + cellvalue + '" />' +
                                '</div>';
                        }

                    },
                },
                {
                    name: 'BaseLineBudgetStatus',
                    width: 180,
                    formatter: function (cellvalue, options, rowobject) {
                        if (rowobject.BaseLineBudgetStatus == "Pending For Approval") {
                            return '<a href="#" class="task_status value_info "> <span class="text-warning">' + cellvalue + '</span></a>'
                        }
                        else if (rowobject.BaseLineBudgetStatus == "Approved") {
                            return '<a href="#" class="task_status value_info "> <span class="text-success">' + cellvalue + '</span></a>'
                        }


                    }
                },

                {
                    name: 'RequestedBy',
                    width: 140,

                },
                {
                    name: 'RequestedOn',
                    width: 140,
                },
                //{
                //    name: 'BaseLineBudgetApprovedOn',
                //    width: 140,

                //},
                //{
                //    name: 'BaseLineBudgetApprovedBy',
                //    width: 140,
                //},
                //{
                //    name: 'RevisedBudget', width: 120,
                //    formatter: function (cellvalue, options, rowobject) {
                //        if (rowobject.RevisedBudget == "400000") {
                //            return '<a href="#" class="task_status value_info ">' + cellvalue + '</a>'
                //        }
                //        else if (rowobject.RevisedBudget == "150000") {
                //            return '<a href="#" class="task_status value_info "> ' + cellvalue + '</a>'
                //        }
                //        else if (rowobject.RevisedBudget == "") {
                //            return ''
                //        }


                //    }
                //},


            ],
            cmTemplate: { sortable: false },
            loadonce: true,
            viewrecords: true,
            pager: '#list_pager',
            rowNum: 20,
            hoverrows: false,
            scroll: 1,
            beforeSelectRow: function () {
                return false;
            }
        });

        $("#list").jqGrid('filterToolbar', {
            autosearch: true,
            stringResult: false,
            searchOnEnter: false,
            defaultSearch: "cn"
        });

        $('.ui-jqgrid-bdiv').css({ 'max-height': '45vh' });
        $('.ui-jqgrid-bdiv').children("div").css({ 'min-height': '0vh' });
        var $TableHeight = $(".ui-jqgrid-bdiv").find("tbody").height();
        if ($TableHeight > 130) {
            $(".ui-jqgrid").find(".ui-jqgrid-bdiv").css("overflow", "auto");
            $(".-virtual-scroll").find(".ui-jqgrid-hdiv").css("padding-right", "6px");
        }
        else {
            $(".ui-jqgrid").find(".ui-jqgrid-bdiv").css("overflow", "auto");
            $(".-virtual-scroll").find(".ui-jqgrid-hdiv").css("padding-right", "0px")
        }


        $('[data-singleselect]').select2()
        $('.data-singleselect').select2()
        $('.data-singleselect').select2({
            dropdownParent: $('#add_project')
        });
    })
</script>


<script>
    data = [
        {
            "Action": "Request for Additional Budget",
            "ApproveBaselineBudget": "300000",
            "BaselineBudget": "300000",
            "Category": "Product Development",
            "BaselineBudgetRequestedBy": "Amit",
            "BaselineBudgetRequestedOn": "18-May-23",
            "BaselineBudgetApprovedBy": "Tanmoy",
            "BaselineBudgetApprovedOn": "19-May-23",
        },
        {
            "Action": "Request for Additional Budget",
            "ApproveBaselineBudget": "100000",
            "BaselineBudget": "100000",
            "Category": "Travel",
            "BaselineBudgetRequestedBy": "Amit",
            "BaselineBudgetRequestedOn": "18-May-23",
            "BaselineBudgetApprovedBy": "Tanmoy",
            "BaselineBudgetApprovedOn": "19-May-23",
        },

    ]
    colmodels = [

        //{
        //    name: 'Action',
        //    label: 'Action',
        //    width: 90,
        //    search: false,
        //    resizable: true,
        //    ignoreCase: true,
        //    sortable: false,
        //    formatter: function (cellvalue, options, rowobject) {
        //        return '<div class="d-flex action_icons align-items-center" title="">' +
        //            '<a href="#" class="" title=""><i class="fas fa-plus"></i></a>' +
        //            '</div>';
        //    }
        //},
        {
            name: 'Category',
            label: 'Category',
            width: 160,
            resizable: true,
            ignoreCase: true,

        },
        {
            name: 'BaselineBudget',
            label: 'Req Baseline Budget (INR)',
            width: 160,
            resizable: true,
            ignoreCase: true,
            //formatter: function (cellvalue, options, rowobject) {
            //    return '<div class="" title="">' +
            //        '<input type="text" class="form-control mb-2">' +
            //        '<input type="text" class="form-control">' +
            //        '</div>';
            //}
        },
        {
            name: 'ApproveBaselineBudget',
            label: 'Approved Baseline Budget (INR)',
            width: 140,
            resizable: true,
            ignoreCase: true,
            //formatter: function (cellvalue, options, rowobject) {
            //    if (rowobject.ApproveBaselineBudget == "1") {
            //        return '';
            //    }
            //    else if (rowobject.ApproveBaselineBudget == "300000") {
            //        return '<div class="text-right">' + cellvalue + '</div>';
            //    }
            //    else if (rowobject.ApproveBaselineBudget == "100000") {
            //        return '<div class="text-right">' + cellvalue + '</div>';
            //    }

            //},
        },
        {
            name: 'BaselineBudgetRequestedBy',
            label: 'Baseline Budget Requested By',
            width: 160,
            resizable: true,
            ignoreCase: true,

        },

        {
            name: 'BaselineBudgetRequestedOn',
            label: 'Baseline Budget Requested On',
            width: 160,
            resizable: true,
            ignoreCase: true,
        },
        {
            name: 'BaselineBudgetApprovedBy',
            label: 'Baseline Budget Approved By',
            width: 160,
            resizable: true,
            ignoreCase: true,
        },
        {
            name: 'BaselineBudgetApprovedOn',
            label: 'Baseline Budget Approved On',
            width: 160,
            resizable: true,
            ignoreCase: true,

        },


    ],

        $("#approved_grid").jqGrid({
            url: '',
            datatype: 'local',
            data: data,
            mtype: 'GET',
            colModel: colmodels,
            loadonce: true,
            viewrecords: true,
            pager: '#approved_pager',
            rowNum: 30,
            scroll: 1,

            gridComplete: function () {
                var objRows = $("#approved_grid tbody tr");
                var objHeader = $("#approved_grid tbody tr td");

                if (objRows.length > 1) {
                    var objFirstRowColumns = $(objRows[1]).children("td");
                    for (i = 0; i < objFirstRowColumns.length; i++) {
                        $(objFirstRowColumns[i]).css("width", $(objHeader[i]).css("width"));
                    }
                }

            }
        });
    $("#approved_grid").jqGrid('filterToolbar', {
        autosearch: true,
        stringResult: false,
        searchOnEnter: false,
        defaultSearch: "cn"
    });

</script>



<script>
    data = [
        {
            "Action": "Request for Additional Budget",
            "ApproveBaselineBudget": "300000",
            "BaselineBudget": "300000",
            "Category": "Product Development",
            "BaselineBudgetRequestedBy": "Amit",
            "BaselineBudgetRequestedOn": "18-May-23",
            "BaselineBudgetApprovedBy": "Tanmoy",
            "BaselineBudgetApprovedOn": "19-May-23",
        },
        {
            "Action": "Request for Additional Budget",
            "ApproveBaselineBudget": "100000",
            "BaselineBudget": "100000",
            "Category": "Travel",
            "BaselineBudgetRequestedBy": "Amit",
            "BaselineBudgetRequestedOn": "18-May-23",
            "BaselineBudgetApprovedBy": "Tanmoy",
            "BaselineBudgetApprovedOn": "19-May-23",
        },

    ]
    colmodels = [

        //{
        //    name: 'Action',
        //    label: 'Action',
        //    width: 90,
        //    search: false,
        //    resizable: true,
        //    ignoreCase: true,
        //    sortable: false,
        //    formatter: function (cellvalue, options, rowobject) {
        //        return '<div class="d-flex action_icons align-items-center" title="">' +
        //            '<a href="#" class="" title=""><i class="fas fa-plus"></i></a>' +
        //            '</div>';
        //    }
        //},
        {
            name: 'Category',
            label: 'Category',
            width: 160,
            resizable: true,
            ignoreCase: true,

        },
        {
            name: 'BaselineBudget',
            label: 'Req Budget (INR)',
            width: 160,
            resizable: true,
            ignoreCase: true,
            //formatter: function (cellvalue, options, rowobject) {
            //    return '<div class="" title="">' +
            //        '<input type="text" class="form-control mb-2">' +
            //        '<input type="text" class="form-control">' +
            //        '</div>';
            //}
        },
        {
            name: 'ApproveBaselineBudget',
            label: 'Approved Budget (INR)',
            width: 140,
            resizable: true,
            ignoreCase: true,
            //formatter: function (cellvalue, options, rowobject) {
            //    if (rowobject.ApproveBaselineBudget == "1") {
            //        return '';
            //    }
            //    else if (rowobject.ApproveBaselineBudget == "300000") {
            //        return '<div class="text-right">' + cellvalue + '</div>';
            //    }
            //    else if (rowobject.ApproveBaselineBudget == "100000") {
            //        return '<div class="text-right">' + cellvalue + '</div>';
            //    }

            //},
        },
        {
            name: 'BaselineBudgetRequestedBy',
            label: 'Budget Requested By',
            width: 160,
            resizable: true,
            ignoreCase: true,

        },

        {
            name: 'BaselineBudgetRequestedOn',
            label: 'Budget Requested On',
            width: 160,
            resizable: true,
            ignoreCase: true,
        },
        {
            name: 'BaselineBudgetApprovedBy',
            label: 'Budget Approved By',
            width: 160,
            resizable: true,
            ignoreCase: true,
        },
        {
            name: 'BaselineBudgetApprovedOn',
            label: 'Budget Approved On',
            width: 160,
            resizable: true,
            ignoreCase: true,

        },


    ],

        $("#approved_grid1").jqGrid({
            url: '',
            datatype: 'local',
            data: data,
            mtype: 'GET',
            colModel: colmodels,
            loadonce: true,
            viewrecords: true,
            pager: '#approved_pager1',
            rowNum: 30,
            scroll: 1,

            gridComplete: function () {
                var objRows = $("#approved_grid1 tbody tr");
                var objHeader = $("#approved_grid1 tbody tr td");

                if (objRows.length > 1) {
                    var objFirstRowColumns = $(objRows[1]).children("td");
                    for (i = 0; i < objFirstRowColumns.length; i++) {
                        $(objFirstRowColumns[i]).css("width", $(objHeader[i]).css("width"));
                    }
                }

            }
        });
    $("#approved_grid1").jqGrid('filterToolbar', {
        autosearch: true,
        stringResult: false,
        searchOnEnter: false,
        defaultSearch: "cn"
    });

</script>