@model Ideation.Models.ProjectMasters
@{
    ViewData["Title"] = "Budget Request List";
    Layout = "/Views/Shared/NewProjectInitiationLayout.cshtml";
}

  <link rel="stylesheet" href="@Url.Content("~/css/PIStyles.css")"/>
<section>
    <div class="">
        <div class="-m_title_ ">
            <h4><span><a href="@Url.Content("~/Landing/Index")">Home/ </a></span>Budget Request List</h4>
        </div>
    </div>
</section>

<section>
    <div class="">
        <div class="d-flex justify-content-between mb-1">
            <div class="add_button ml-2">
            </div>
            <div class="">
                <div class="status_dropdown" style="float: right">
                    <div class="">
                        <div class="">
                            <select class="form-control status" data-singleselect>
                                <option selected value="1">All</option>
                                <option value="2">Pending For Baseline Request</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="animate__animated2 slideInUp mt-2">
        <div class="">
            <div class="">
                <div class="row">
                    <div class="m-table__main grid_height">
                        <div class="m-table__responsive -virtual-scroll">
                            <table id="BudgetRequest" class="table table-bordered"></table>
                            <div id="pager_BudgetRequest"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="@Url.Content("~/js/NewProjectInitiation/NewBudgetRequestList.js")"></script>