@{
    Layout = null;
}
<html>
<head>
    <style>
        .him_logo {
            float: right;
            width: 100%;
            text-align: right
        }

        .form-control {
            width: 100%;
            border: 1px solid #dedede;
            padding: 5px 10px;
            height: 30px;
        }

        td {
            font-family: 'Open Sans', sans-serif;
            font-size: 14px !important;
            vertical-align: top;
        }

        p {
            font-family: 'Open Sans', sans-serif;
            font-size: 16px;
            vertical-align: top;
        }

        .page-break {
            display: block;
            page-break-before: always;
        }

        .table .td_pad .td {
            padding: 0px 0px 0px 0px
        }
    </style>
</head>

<body>
    <table width="95%" style="border: 1px solid black; border-collapse: collapse;margin:5px auto;">

        <tbody>
            <tr>

                <td colspan="2" scope="colgroup" style="border: 1px solid black;padding: 5px 0px 5px 10px;width:90%;text-align: center;font-weight: 700;">PROJECT BRIEF: NEW PRODUCTS & LINE EXTENSIONS</td> <!-- merge four columns -->
                <td rowspan="2" style="border: 1px solid black;text-align: center;">
                    <img src="http://tpfloxi-001-site86.atempurl.com/images/logohmnew.png" style="height:60px;" />
                </td> <!-- merge two rows -->
            </tr>
            <tr>
                <td scope="col" style="border: 1px solid black;padding: 5px 0px 5px 10px;">
                    <label><strong>Project name :</strong> </label><label>&nbsp;</label>
                </td>
                <td scope="col" style="border: 1px solid black;padding: 5px 0px 5px 10px;">
                    <label><strong>Date :</strong> </label><label>&nbsp;</label>
                </td>
            </tr>

        </tbody>
    </table>
    <table width="95%" style="border: 1px solid black; border-collapse: collapse;margin:-6px auto;">

        <tbody>

            <tr>
                <td scope="col" style="border: 1px solid black;padding: 5px 0px 5px 10px;">
                    <label> Hub: </label><label>India</label>
                </td>
                <td scope="col" style="border: 1px solid black;padding: 5px 0px 5px 10px;">
                    <label> Division: </label><label> Consumer Care </label>
                </td>
                <td scope="col" style="border: 1px solid black;padding: 5px 0px 5px 10px;">
                    <label> Category: </label><label>Face Care</label>
                </td>
                <td scope="col" style="border: 1px solid black;padding: 5px 0px 5px 10px;">
                    <label> Initiated By: </label><label>Kiran Kumar </label>
                </td>
                <td scope="col" style="border: 1px solid black;padding: 5px 0px 5px 10px;">
                    <label> Initiated Date: </label><label>12/04/2022</label>
                </td>

            </tr>
        </tbody>
    </table>


    <br />
    <div style="margin:20px auto;width: 95%;">
        <p style="font-weight: 700;">1. Business Objective </p>
    </div>
    <table width="95%" style="border: 1px solid black; border-collapse: collapse;margin:5px auto;">

        <tbody>

            <tr>

                <td scope="col" style="border: 1px solid black;padding: 5px 0px 5px 10px;">&nbsp;</td>
            </tr>

        </tbody>
    </table>
    <table width="95%" style="border: 1px solid black; border-collapse: collapse;margin:-6px auto;">

        <tbody>

            <tr>
                <td scope="col" style="border: 1px solid black;padding: 5px 0px 5px 5px;width:25%;font-size: 16px;font-weight: 700;">HGML Remarks</td>
                <td scope="col" style="border: 1px solid black;padding: 5px 0px 5px 10px;">&nbsp;</td>
            </tr>

            <tr>
                <td scope="col" style="border: 1px solid black;padding: 5px 0px 5px 5px;width:25%;font-size: 16px;font-weight: 700;">PMD Remarks</td>
                <td scope="col" style="border: 1px solid black;padding: 5px 0px 5px 10px;">&nbsp;</td>
            </tr>

        </tbody>
    </table>
    
    <div>
        <div style="margin:20px auto;width: 95%;">
            <p style="font-weight: 700;">2. Product Positioning : </p>
        </div>

        <table width="95%" style="border: 1px solid black; border-collapse: collapse;margin:5px auto;">

            <tbody>

                <tr>
                    <td scope="col" style="border: 1px solid black;padding: 5px 0px 5px 5px;width:25%;font-size: 16px;font-weight: 700;">2a.Target Consumer</td>
                    <td scope="col" style="border: 1px solid black;padding: 5px 0px 5px 10px;">&nbsp;</td>
                </tr>

            </tbody>
        </table>
        <div style="margin: -17px auto;width: 95%;">
            <p style="font-weight: 700;border: 1px solid #000;padding: 5px 5px 5px 5px;">2b. Competitive Offerings : </p>
        </div>

        <table width="95%" style="border: 1px solid black;border-collapse: collapse;margin: -5px auto;">

            <tbody>


                <tr>

                    <td scope="col" style="border: 1px solid black;padding: 5px 0px 5px 10px;">&nbsp;</td>
                </tr>
            </tbody>
        </table>

        <div style="margin: -17px auto;width: 95%;">
            <p style="font-weight: 700;border: 1px solid #000;padding: 5px 5px 5px 5px;">2c. Unmet Need: </p>
        </div>
        <table width="95%" style="border: 1px solid black; border-collapse: collapse;margin:-6px auto;">

            <tbody>


                <tr>

                    <td scope="col" style="border: 1px solid black;padding: 5px 0px 5px 10px;">&nbsp;</td>
                </tr>

            </tbody>
        </table>





        <div style="margin: -17px auto;width: 95%;">
            <p style="font-weight: 700;border: 1px solid #000;padding: 5px 5px 5px 5px;">2d. Himalaya positioning with product features and benefits: </p>
        </div>
        <table width="95%" style="border-collapse: collapse;margin: -6px auto;">
            <thead>



                <tr>
                    <td style="border: 1px solid black;width: 20%;padding: 5px 0px 5px 10px;font-weight: 600;text-align:center">Product</td>
                    <td style="border: 1px solid black;width: 40%;padding: 5px 0px 5px 10px;font-weight: 600;text-align:center">Expected Features </td>
                    <td style="border: 1px solid black;width: 20%;padding: 5px 0px 5px 10px;font-weight: 600;text-align:center">Expected Benefits </td>
                </tr>

            </thead>
            <tbody>

                <tr>
                    <td style="border: 1px solid black;padding: 5px 0px 5px 10px;">&nbsp;</td>
                    <td style="border: 1px solid black;padding: 5px 0px 5px 10px;">&nbsp;</td>
                    <td style="border: 1px solid black;padding: 5px 0px 5px 10px;">&nbsp;</td>
                </tr>
                @* <tr>
                <td scope="col" style="border: 1px solid black;padding: 5px 0px 5px 5px;width:25%;font-size: 16px;font-weight: 700;">HGML Remarks</td>
                <td scope="col" style="border: 1px solid black;padding: 5px 0px 5px 10px;">&nbsp;</td>
                </tr>*@
            </tbody>
        </table>
        <table width="95%" style="border: 1px solid black; border-collapse: collapse;margin:5px auto;">

            <tbody>


                <tr>
                    <td scope="col" style="border: 1px solid black;padding: 5px 0px 5px 5px;width:25%;font-size: 16px;font-weight: 700;">2e.HGML Remarks</td>
                    <td scope="col" style="border: 1px solid black;padding: 5px 0px 5px 10px;">&nbsp;</td>
                </tr>
                <tr>
                    <td scope="col" style="border: 1px solid black;padding: 5px 0px 5px 5px;width:25%;font-size: 16px;font-weight: 700;">2f.PMD Remarks</td>
                    <td scope="col" style="border: 1px solid black;padding: 5px 0px 5px 10px;">&nbsp;</td>
                </tr>
            </tbody>
        </table>

       
    </div>
    <div style="margin:20px auto;width: 95%;padding-bottom: 3px;padding-top: 1px;">
        <p style="font-weight: 700;">3. Product Profile</p>
    </div>

    <div style="margin: -17px auto;width: 95%;">
        <p style="font-weight: 700;border: 1px solid #000;padding: 5px 5px 5px 5px;">3a. Formulation Profile:</p>
    </div>

    <table width="95%" style="border: 1px solid black;border-collapse: collapse;margin: -5px auto;">
        <thead>
            <tr>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;font-weight: 600;text-align:center">Product &nbsp; &nbsp;</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;font-weight: 600;text-align:center">Desired Ingredients</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;font-weight: 600;text-align:center">Indication / Conditions</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;font-weight: 600;text-align:center">Must have claims</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;font-weight: 600;text-align:center">Nice to have claims</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;font-weight: 600;text-align:center">Dosage Form</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;font-weight: 600;text-align:center">Benchmark Products</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;font-weight: 600;text-align:center">Desired Product Characteristics</td>
                <td style="border: 1px solid black;padding: 5px 10px 5px 10px;font-weight: 600;text-align:center">Benchmark Product Image</td>



            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;">&nbsp;</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;">&nbsp;</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;">&nbsp;</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;">&nbsp;</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;">&nbsp;</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;">&nbsp;</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;">&nbsp;</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;">&nbsp;</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;">
                    <a href="http://tpfloxi-001-site86.atempurl.com/images/Charcoal Range_Project brief.pdf" download="Project Brief"><i class="fa fa-download" aria-hidden="true"></i></a>
                </td>

            </tr>
            <tr>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;">&nbsp;</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;">&nbsp;</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;">&nbsp;</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;">&nbsp;</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;">&nbsp;</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;">&nbsp;</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;">&nbsp;</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;">&nbsp;</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;">
                    <a href="http://tpfloxi-001-site86.atempurl.com/images/Charcoal Range_Project brief.pdf" download="Project Brief"><i class="fa fa-download" aria-hidden="true"></i></a>
                </td>

            </tr>

        </tbody>
    </table>
    <table width="95%" style="border: 1px solid black; border-collapse: collapse;margin:5px auto;">

        <tbody>


            <tr>
                <td scope="col" style="border: 1px solid black;padding: 5px 0px 5px 5px;width:25%;font-size: 16px;font-weight: 700;">3b.HGML Remarks</td>
                <td scope="col" style="border: 1px solid black;padding: 5px 0px 5px 10px;">&nbsp;</td>
            </tr>
            <tr>
                <td scope="col" style="border: 1px solid black;padding: 5px 0px 5px 5px;width:25%;font-size: 16px;font-weight: 700;">3c.PMD Remarks</td>
                <td scope="col" style="border: 1px solid black;padding: 5px 0px 5px 10px;">&nbsp;</td>
            </tr>
        </tbody>
    </table>

    <div style="margin: 0px auto;width: 95%;padding: 10px 0 0 0;">
        <p style="font-weight: 700;border: 1px solid #000;padding: 5px 5px 5px 5px;">3d. Packaging Profile:</p>
    </div>
    <table width="95%" style="border: 1px solid black; border-collapse: collapse;margin:-16px auto;">
        <thead>

            <tr>
                <td style="border: 1px solid black;padding: 5px 10px 5px 10px;font-weight: 600;text-align:center">Product</td>
                <td style="border: 1px solid black;padding: 5px 10px 5px 10px;font-weight: 600;text-align:center">SKU</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;font-weight: 600;text-align:center">Primary Packaging</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;font-weight: 600;text-align:center">Secondary Packaging</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;font-weight: 600;text-align:center">Tertiary Packaging</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;font-weight: 600;text-align:center">Benchmark Products</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;font-weight: 600;text-align:center">Desired Packaging Characteristics</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;font-weight: 600;text-align:center">Others (If any)</td>
                <td style="border: 1px solid black;padding: 5px 10px 5px 10px;font-weight: 600;text-align:center">Mould</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;font-weight: 600;text-align:center">Images Upload</td>



            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;">&nbsp;</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;">&nbsp;</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;">&nbsp;</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;">&nbsp;</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;">&nbsp;</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;">&nbsp;</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;">&nbsp;</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;">&nbsp;</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;">&nbsp;</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;">
                    <a href="http://tpfloxi-001-site86.atempurl.com/images/Charcoal Range_Project brief.pdf" download="Project Brief"><i class="fa fa-download" aria-hidden="true"></i></a>
                </td>

            </tr>
            <tr>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;">&nbsp;</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;">&nbsp;</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;">&nbsp;</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;">&nbsp;</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;">&nbsp;</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;">&nbsp;</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;">&nbsp;</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;">&nbsp;</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;">
                    <a href="http://tpfloxi-001-site86.atempurl.com/images/Charcoal Range_Project brief.pdf" download="Project Brief"><i class="fa fa-download" aria-hidden="true"></i></a>
                </td>

            </tr>

        </tbody>
    </table>
    <table width="95%" style="border: 1px solid black; border-collapse: collapse;margin:15px auto;">

        <tbody>


            <tr>
                <td scope="col" style="border: 1px solid black;padding: 5px 0px 5px 5px;width:25%;font-size: 16px;font-weight: 700;">3e.HGML Remarks</td>
                <td scope="col" style="border: 1px solid black;padding: 5px 0px 5px 10px;">&nbsp;</td>
            </tr>
            <tr>
                <td scope="col" style="border: 1px solid black;padding: 5px 0px 5px 5px;width:25%;font-size: 16px;font-weight: 700;">3f.HGML Remarks</td>
                <td scope="col" style="border: 1px solid black;padding: 5px 0px 5px 10px;">&nbsp;</td>
            </tr>
        </tbody>
    </table>
   

    <div style="margin:20px auto;width: 95%;">
        <p style="font-weight: 700;padding-top: 25px;">4. Business Information</p>
    </div>

   <div style="margin: 0px auto;width: 95%;">
        <p style="font-weight: 700;border: 1px solid #000;padding: 5px 5px 5px 5px;">INDIA Business Information</p>
    </div>

    <table width="95%" style="border: 1px solid black; border-collapse: collapse;margin:-17px auto;">
        <thead>

            <tr>
                <td style="border: 1px solid black;padding: 5px 10px 5px 10px;font-weight: 600;text-align:center">Product</td>
                <td style="border: 1px solid black;padding: 5px 10px 5px 10px;font-weight: 600;text-align:center">SKU</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;font-weight: 600;text-align:center">Proposed Name's of product </td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;font-weight: 600;text-align:center">Proposed launch date</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;font-weight: 600;text-align:center">Proposed Selling Price</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;font-weight: 600;text-align:center">Proposed TP</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;font-weight: 600;text-align:center">Proposed MRP</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;font-weight: 600;text-align:center">Expected GP %</td>
                <td style="border: 1px solid black;padding: 5px 10px 5px 10px;font-weight: 600;text-align:center">Business Value(Y2*PSP)</td>
                <td style="border: 1px solid black;padding: 5px 10px 5px 10px;font-weight: 600;text-align:center">M1 Q</td>
                <td style="border: 1px solid black;padding: 5px 10px 5px 10px;font-weight: 600;text-align:center">M2 Q</td>
                <td style="border: 1px solid black;padding: 5px 10px 5px 10px;font-weight: 600;text-align:center">M3 Q</td>
                <td style="border: 1px solid black;padding: 5px 10px 5px 10px;font-weight: 600;text-align:center">Y1 Q</td>
                <td style="border: 1px solid black;padding: 5px 10px 5px 10px;font-weight: 600;text-align:center">Y2 Q</td>
                <td style="border: 1px solid black;padding: 5px 10px 5px 10px;font-weight: 600;text-align:center">Y3 Q</td>
                <td style="border: 1px solid black;padding: 5px 10px 5px 10px;font-weight: 600;text-align:center">UOM</td>



            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;">&nbsp;</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;">&nbsp;</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;">&nbsp;</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;">&nbsp;</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;">&nbsp;</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;">&nbsp;</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;">&nbsp;</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;">&nbsp;</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;">&nbsp;</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;">&nbsp;</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;">&nbsp;</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;">&nbsp;</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;">&nbsp;</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;">&nbsp;</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;">&nbsp;</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;">&nbsp;</td>



            </tr>
            <tr>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;">&nbsp;</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;">&nbsp;</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;">&nbsp;</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;">&nbsp;</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;">&nbsp;</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;">&nbsp;</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;">&nbsp;</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;">&nbsp;</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;">&nbsp;</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;">&nbsp;</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;">&nbsp;</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;">&nbsp;</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;">&nbsp;</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;">&nbsp;</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;">&nbsp;</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;">&nbsp;</td>


            </tr>

        </tbody>
    </table>
    <div style="margin: 0px auto;width: 95%;">
        <p style="font-weight: 700;border: 1px solid #000;padding: 5px 5px 5px 5px;">RUMEA Business Information</p>
    </div>

    <table width="95%" style="border: 1px solid black; border-collapse: collapse;margin:-17px auto;">
        <thead>

            <tr>
                <td style="border: 1px solid black;padding: 5px 10px 5px 10px;font-weight: 600;text-align:center">Product</td>
                <td style="border: 1px solid black;padding: 5px 10px 5px 10px;font-weight: 600;text-align:center">SKU</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;font-weight: 600;text-align:center">Proposed Name's of product </td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;font-weight: 600;text-align:center">Proposed launch date</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;font-weight: 600;text-align:center">Proposed Selling Price</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;font-weight: 600;text-align:center">Proposed TP</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;font-weight: 600;text-align:center">Proposed MRP</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;font-weight: 600;text-align:center">Expected GP %</td>
                <td style="border: 1px solid black;padding: 5px 10px 5px 10px;font-weight: 600;text-align:center">Business Value(Y2*PSP)</td>
                <td style="border: 1px solid black;padding: 5px 10px 5px 10px;font-weight: 600;text-align:center">M1 Q</td>
                <td style="border: 1px solid black;padding: 5px 10px 5px 10px;font-weight: 600;text-align:center">M2 Q</td>
                <td style="border: 1px solid black;padding: 5px 10px 5px 10px;font-weight: 600;text-align:center">M3 Q</td>
                <td style="border: 1px solid black;padding: 5px 10px 5px 10px;font-weight: 600;text-align:center">Y1 Q</td>
                <td style="border: 1px solid black;padding: 5px 10px 5px 10px;font-weight: 600;text-align:center">Y2 Q</td>
                <td style="border: 1px solid black;padding: 5px 10px 5px 10px;font-weight: 600;text-align:center">Y3 Q</td>
                <td style="border: 1px solid black;padding: 5px 10px 5px 10px;font-weight: 600;text-align:center">UOM</td>



            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;">&nbsp;</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;">&nbsp;</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;">&nbsp;</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;">&nbsp;</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;">&nbsp;</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;">&nbsp;</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;">&nbsp;</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;">&nbsp;</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;">&nbsp;</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;">&nbsp;</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;">&nbsp;</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;">&nbsp;</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;">&nbsp;</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;">&nbsp;</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;">&nbsp;</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;">&nbsp;</td>



            </tr>
            <tr>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;">&nbsp;</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;">&nbsp;</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;">&nbsp;</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;">&nbsp;</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;">&nbsp;</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;">&nbsp;</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;">&nbsp;</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;">&nbsp;</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;">&nbsp;</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;">&nbsp;</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;">&nbsp;</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;">&nbsp;</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;">&nbsp;</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;">&nbsp;</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;">&nbsp;</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;">&nbsp;</td>


            </tr>

        </tbody>
    </table>
      <div style="margin: 0px auto;width: 95%;">
        <p style="font-weight: 700;border: 1px solid #000;padding: 5px 5px 5px 5px;">EU Business Information</p>
    </div>

    <table width="95%" style="border: 1px solid black; border-collapse: collapse;margin:-17px auto;">
        <thead>

            <tr>
                <td style="border: 1px solid black;padding: 5px 10px 5px 10px;font-weight: 600;text-align:center">Product</td>
                <td style="border: 1px solid black;padding: 5px 10px 5px 10px;font-weight: 600;text-align:center">SKU</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;font-weight: 600;text-align:center">Proposed Name's of product </td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;font-weight: 600;text-align:center">Proposed launch date</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;font-weight: 600;text-align:center">Proposed Selling Price</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;font-weight: 600;text-align:center">Proposed TP</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;font-weight: 600;text-align:center">Proposed MRP</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;font-weight: 600;text-align:center">Expected GP %</td>
                <td style="border: 1px solid black;padding: 5px 10px 5px 10px;font-weight: 600;text-align:center">Business Value(Y2*PSP)</td>
                <td style="border: 1px solid black;padding: 5px 10px 5px 10px;font-weight: 600;text-align:center">M1 Q</td>
                <td style="border: 1px solid black;padding: 5px 10px 5px 10px;font-weight: 600;text-align:center">M2 Q</td>
                <td style="border: 1px solid black;padding: 5px 10px 5px 10px;font-weight: 600;text-align:center">M3 Q</td>
                <td style="border: 1px solid black;padding: 5px 10px 5px 10px;font-weight: 600;text-align:center">Y1 Q</td>
                <td style="border: 1px solid black;padding: 5px 10px 5px 10px;font-weight: 600;text-align:center">Y2 Q</td>
                <td style="border: 1px solid black;padding: 5px 10px 5px 10px;font-weight: 600;text-align:center">Y3 Q</td>
                <td style="border: 1px solid black;padding: 5px 10px 5px 10px;font-weight: 600;text-align:center">UOM</td>



            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;">&nbsp;</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;">&nbsp;</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;">&nbsp;</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;">&nbsp;</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;">&nbsp;</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;">&nbsp;</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;">&nbsp;</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;">&nbsp;</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;">&nbsp;</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;">&nbsp;</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;">&nbsp;</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;">&nbsp;</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;">&nbsp;</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;">&nbsp;</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;">&nbsp;</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;">&nbsp;</td>



            </tr>
            <tr>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;">&nbsp;</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;">&nbsp;</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;">&nbsp;</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;">&nbsp;</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;">&nbsp;</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;">&nbsp;</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;">&nbsp;</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;">&nbsp;</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;">&nbsp;</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;">&nbsp;</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;">&nbsp;</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;">&nbsp;</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;">&nbsp;</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;">&nbsp;</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;">&nbsp;</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;">&nbsp;</td>


            </tr>

        </tbody>
    </table>
      <div style="margin: 0px auto;width: 95%;">
        <p style="font-weight: 700;border: 1px solid #000;padding: 5px 5px 5px 5px;">APAC Business Information</p>
    </div>

    <table width="95%" style="border: 1px solid black; border-collapse: collapse;margin:-17px auto;">
        <thead>

            <tr>
                <td style="border: 1px solid black;padding: 5px 10px 5px 10px;font-weight: 600;text-align:center">Product</td>
                <td style="border: 1px solid black;padding: 5px 10px 5px 10px;font-weight: 600;text-align:center">SKU</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;font-weight: 600;text-align:center">Proposed Name's of product </td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;font-weight: 600;text-align:center">Proposed launch date</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;font-weight: 600;text-align:center">Proposed Selling Price</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;font-weight: 600;text-align:center">Proposed TP</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;font-weight: 600;text-align:center">Proposed MRP</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;font-weight: 600;text-align:center">Expected GP %</td>
                <td style="border: 1px solid black;padding: 5px 10px 5px 10px;font-weight: 600;text-align:center">Business Value(Y2*PSP)</td>
                <td style="border: 1px solid black;padding: 5px 10px 5px 10px;font-weight: 600;text-align:center">M1 Q</td>
                <td style="border: 1px solid black;padding: 5px 10px 5px 10px;font-weight: 600;text-align:center">M2 Q</td>
                <td style="border: 1px solid black;padding: 5px 10px 5px 10px;font-weight: 600;text-align:center">M3 Q</td>
                <td style="border: 1px solid black;padding: 5px 10px 5px 10px;font-weight: 600;text-align:center">Y1 Q</td>
                <td style="border: 1px solid black;padding: 5px 10px 5px 10px;font-weight: 600;text-align:center">Y2 Q</td>
                <td style="border: 1px solid black;padding: 5px 10px 5px 10px;font-weight: 600;text-align:center">Y3 Q</td>
                <td style="border: 1px solid black;padding: 5px 10px 5px 10px;font-weight: 600;text-align:center">UOM</td>



            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;">&nbsp;</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;">&nbsp;</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;">&nbsp;</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;">&nbsp;</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;">&nbsp;</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;">&nbsp;</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;">&nbsp;</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;">&nbsp;</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;">&nbsp;</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;">&nbsp;</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;">&nbsp;</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;">&nbsp;</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;">&nbsp;</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;">&nbsp;</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;">&nbsp;</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;">&nbsp;</td>



            </tr>
            <tr>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;">&nbsp;</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;">&nbsp;</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;">&nbsp;</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;">&nbsp;</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;">&nbsp;</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;">&nbsp;</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;">&nbsp;</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;">&nbsp;</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;">&nbsp;</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;">&nbsp;</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;">&nbsp;</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;">&nbsp;</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;">&nbsp;</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;">&nbsp;</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;">&nbsp;</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;">&nbsp;</td>


            </tr>

        </tbody>
    </table>
    <div style="margin: 0px auto;width: 95%;">
        <p style="font-weight: 700;border: 1px solid #000;padding: 5px 5px 5px 5px;">HUSA Business Information</p>
    </div>

    <table width="95%" style="border: 1px solid black; border-collapse: collapse;margin:-17px auto;">
        <thead>

            <tr>
                <td style="border: 1px solid black;padding: 5px 10px 5px 10px;font-weight: 600;text-align:center">Product</td>
                <td style="border: 1px solid black;padding: 5px 10px 5px 10px;font-weight: 600;text-align:center">SKU</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;font-weight: 600;text-align:center">Proposed Name's of product </td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;font-weight: 600;text-align:center">Proposed launch date</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;font-weight: 600;text-align:center">Proposed Selling Price</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;font-weight: 600;text-align:center">Proposed TP</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;font-weight: 600;text-align:center">Proposed MRP</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;font-weight: 600;text-align:center">Expected GP %</td>
                <td style="border: 1px solid black;padding: 5px 10px 5px 10px;font-weight: 600;text-align:center">Business Value(Y2*PSP)</td>
                <td style="border: 1px solid black;padding: 5px 10px 5px 10px;font-weight: 600;text-align:center">M1 Q</td>
                <td style="border: 1px solid black;padding: 5px 10px 5px 10px;font-weight: 600;text-align:center">M2 Q</td>
                <td style="border: 1px solid black;padding: 5px 10px 5px 10px;font-weight: 600;text-align:center">M3 Q</td>
                <td style="border: 1px solid black;padding: 5px 10px 5px 10px;font-weight: 600;text-align:center">Y1 Q</td>
                <td style="border: 1px solid black;padding: 5px 10px 5px 10px;font-weight: 600;text-align:center">Y2 Q</td>
                <td style="border: 1px solid black;padding: 5px 10px 5px 10px;font-weight: 600;text-align:center">Y3 Q</td>
                <td style="border: 1px solid black;padding: 5px 10px 5px 10px;font-weight: 600;text-align:center">UOM</td>



            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;">&nbsp;</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;">&nbsp;</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;">&nbsp;</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;">&nbsp;</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;">&nbsp;</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;">&nbsp;</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;">&nbsp;</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;">&nbsp;</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;">&nbsp;</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;">&nbsp;</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;">&nbsp;</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;">&nbsp;</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;">&nbsp;</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;">&nbsp;</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;">&nbsp;</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;">&nbsp;</td>



            </tr>
            <tr>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;">&nbsp;</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;">&nbsp;</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;">&nbsp;</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;">&nbsp;</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;">&nbsp;</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;">&nbsp;</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;">&nbsp;</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;">&nbsp;</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;">&nbsp;</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;">&nbsp;</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;">&nbsp;</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;">&nbsp;</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;">&nbsp;</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;">&nbsp;</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;">&nbsp;</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;">&nbsp;</td>


            </tr>

        </tbody>
    </table>
    <table width="95%" style="border: 1px solid black; border-collapse: collapse;margin:16px auto;">

        <tbody>


            <tr>
                <td scope="col" style="border: 1px solid black;padding: 5px 0px 5px 5px;width:25%;font-size: 16px;font-weight: 700;">HGML Remarks</td>
                <td scope="col" style="border: 1px solid black;padding: 5px 0px 5px 10px;">&nbsp;</td>
            </tr>
             <tr>
                <td scope="col" style="border: 1px solid black;padding: 5px 0px 5px 5px;width:25%;font-size: 16px;font-weight: 700;">PMD Remarks</td>
                <td scope="col" style="border: 1px solid black;padding: 5px 0px 5px 10px;">&nbsp;</td>
            </tr>
        </tbody>
    </table>

    <div style="margin:20px auto;width: 95%;">
        <p style="font-weight: 700;">HGML Data </p>
    </div>

    <table width="95%" style="border: 1px solid black;border-collapse: collapse;margin: -5px auto;">
        <thead>
            <tr>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;font-weight: 600;text-align:center">Product Name</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;font-weight: 600;text-align:center">Participating Markets</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;font-weight: 600;text-align:center">Project Priority</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;font-weight: 600;text-align:center">Remarks</td>


            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;">&nbsp;</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;">&nbsp;</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;">&nbsp;</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;">&nbsp;</td>


            </tr>


        </tbody>
    </table>


    <div style="margin:20px auto;width: 95%;">
        <p style="font-weight: 700;">HGML Data </p>
    </div>

    <table width="95%" style="border: 1px solid black;border-collapse: collapse;margin: -5px auto;">
        <thead>
            <tr>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;font-weight: 600;text-align:center">Product Name</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;font-weight: 600;text-align:center">Project Categorization</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;font-weight: 600;text-align:center">Complexity to be Assigned</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;font-weight: 600;text-align:center">R&D Name</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;font-weight: 600;text-align:center">Remarks</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;font-weight: 600;text-align:center">Project lead</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;font-weight: 600;text-align:center">Target 1st Prototype submission date</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;font-weight: 600;text-align:center">Target TTD completion date</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;font-weight: 600;text-align:center">Target production date</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;font-weight: 600;text-align:center">Major Risk if any</td>


            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;">&nbsp;</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;">&nbsp;</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;">&nbsp;</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;">&nbsp;</td>
                 <td style="border: 1px solid black;padding: 5px 0px 5px 10px;">&nbsp;</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;">&nbsp;</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;">&nbsp;</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;">&nbsp;</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;">&nbsp;</td>
                <td style="border: 1px solid black;padding: 5px 0px 5px 10px;">&nbsp;</td>



            </tr>


        </tbody>
    </table>

    <br />

    @*<div style="clear:both!important;"></div>
    <div style="page-break-after:always"></div>
    <div style="clear:both!important;"> </div>*@


</body>
</html>
