.effort_tracker .select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-color: #888 transparent transparent transparent;
    border-style: solid;
    border-width: 5px 4px 0 4px;
    height: 0;
    left: 50%;
    margin-left: -4px;
    margin-top: -22px;
    position: absolute;
    top: 50%;
    width: 0;
}
.body-content{
    margin:0px !important;
}
.datepicker {
    z-index: 99999 !important;
}
td input.form-control{
    border:0 !important;
}
.justify-center_ {
    display: flex;
    justify-content: center;
}
.form-control:focus {
    box-shadow: 0 0 10px rgba(33,37,41,0.15) !important;
    background-color: var(--card-color) !important;
}
    .effort_tracker .table-bordered th {
    border: 1px solid #ededed !important;
    font-size: 10px;
    font-weight: 700;
    /*  padding: 5px 5px;*/
}

.effort_tracker .table-bordered tr {
    border-color: #ededed !important;
}

.effort_tracker th {
    height: 0px !important;
}

.effort_tracker .form-control:disabled, .form-control[readonly] {
    background-color: #e6e6e6;
    opacity: 1;
    height:29px;
}

.effort_tracker .tr_padding tr {
    font-size: 10px;
}

    .effort_tracker .tr_padding tr > td {
        padding: 0px;
        vertical-align: middle;
    }

.effort_tracker .project_width {
    width: 20% !important;
    /* padding: 5px 5px !important;*/
}

.effort_tracker .project_width1 {
    width: 40% !important;
    /* padding: 5px 5px !important;*/
    vertical-align: middle !important;
    position: sticky;
    left: 50px;
    z-index: 1;
    background: #d8d8d8 !important;
}

.project_width_apportion {
    width: 25% !important;
    /* padding: 5px 5px !important;*/
    vertical-align: middle !important;
    position: sticky;
    left: 50px;
    z-index: 1;
    background: #d8d8d8 !important;
}

.effort_tracker .select2-container .select2-selection--single {
    height: 29px !important;
}

.effort_tracker .nav-tabs .nav-link.active {
    color: #000;
    background: #d8d8d8;
    border: 1px solid #d8d8d8;
    border-radius: 0px;
}

.effort_tracker .nav-tabs {
    border: 1px solid #dee2e6;
    border-radius: 0px;
    padding:0px !important;
}

.effort_tracker .nav-link {
    padding: 5px 15px;
    color: #000;
    font-size: 10px;
}

.effort_tracker .nav-tabs .nav-link:hover {
    border-radius: 0px;
}

.effort_tracker .input_calendar {
    float: right;
    position: relative;
    bottom: 20px;
    color: #7047ee;
    right: 5px;
}

.effort_tracker button.plus.btn-primary {
    border: 0px;
    padding: 3px 7px 3px 7px;
    border-radius: 5px;
}

.effort_tracker .table th {
    font-size: 10px !important;
}

.effort_tracker input.bck_color.form-control {
    background-color: #e7ecf7;
}

.effort_tracker .datepicker .datepicker-days tr td.active ~ td,
.datepicker .datepicker-days tr td.active {
    color: #af1623 !important;
    background: transparent !important;
}

.effort_tracker
.datepicker .datepicker-days tr:hover td {
    color: #000;
    background: #e5e2e3;
    border-radius: 0;
}

.effort_tracker .week_header {
    width: 60px !important;
    text-align: center !important;
    padding: 10px !important;
    vertical-align: middle !important;
}

.effort_tracker .week_header1 {
    width: 60px !important;
    text-align: center !important;
    padding: 5px 10px !important;
    vertical-align: middle !important;
}

.effort_tracker input.form-control {
    padding: 5px 5px;
}

.effort_tracker .value_ .form-control {
    height: 26px;
    border-radius: 0px;
    font-size: 10px;
    text-align: center;
}

.effort_tracker .value_ input {
    color: blue;
    border: 0 !important;
}

.effort_tracker .value1_ input {
    color: #f613a5;
}

.effort_tracker .table > :not(:first-child) {
    border-top: 1px solid;
}

.effort_tracker .total_effort {
    text-align: right;
    font-size: 10px;
    font-weight: 700;
    position: sticky !important;
    left: 50px !important;
    z-index: 1 !important;
    background: #e7ecf7 !important;
}

.effort_tracker .tf_td {
    font-size: 10px;
    text-align: center;
}

.effort_tracker .table > :not(caption) > * > * {
    padding: 0.3rem 0.5rem;
}

.effort_tracker .value_ label {
    margin-bottom: 0px;
    color: #f613a5;
}

.effort_tracker .select2-container--default .select2-selection--single {
    border: 1px solid #e6e6e6;
    margin: 0px;
    border-radius: 0px;
}

.effort_tracker .fixed_col {
    position: sticky;
    left: 0px;
    z-index: 1;
    background: #d8d8d8;
    border-right-color: #d8d8d8 !important
}

.effort_tracker .fixed_col1 {
    position: sticky;
    right: 0px;
    z-index: 1;
    background: #e7ecf7;
}
/* .fixed_col11 {
       position: sticky;
      right: 0px;
      z-index: 1;
       background:#fff !important;
     }*/
.effort_tracker .fixed_col2 {
    position: sticky;
    left: 50px;
    z-index: 1;
    background: #fff !important;
}

body {
    background: #fff !important;
}

.body-content {
    padding-top: 2px;
    background: #fff;
    margin: 15px;
}

.effort_tracker .select2-container .select2-selection:focus {
    border-color: #e6e6e6 !important;
}

.effort_tracker .select2-dropdown--below span.select2-search.select2-search--dropdown {
    position: absolute;
    top: -38px;
    width: 98%;
    border: 1px solid #8a8a8a;
    height: auto;
    font-size: 10px;
    padding: 0px;
    margin: 5px;
}

.effort_tracker .select2-dropdown--above span.select2-search.select2-search--dropdown {
    position: absolute;
    top: auto !important;
    bottom: -38px;
    width: 99%;
    border: 1px solid #8a8a8a;
    height: auto;
    font-size: 10px;
    padding: 0px 0px 0 0px;
    margin: 2px 5px 5px 6px;
    left: -3px;
}

.effort_tracker textarea.form-control-sm :focus-visible {
    outline: 0;
}

.valu input {
    border: 0;
    color: blue;
    font-size: 10px;
    text-align: center;
    height: 35px !important;
    border-radius: 0px;
}

.effort_tracker span.select2-results {
    font-size: 10px;
}

textarea.form-control-sm {
    border: 0;
}

textarea:focus-visible {
    outline: none;
}

span.select2-results {
    font-size: 12px;
}

.week_total_ {
    vertical-align: middle;
    text-align: center;
    color: blue;
    background: #e7ecf7 !important;
}

.month_tl {
    background: #d8d8d8 !important;
}

.tf00t_bck {
    background: #e7ecf7 !important;
}

.thead_bck {
    background: #d8d8d8;
}

.edit_history .history_section {
    background: transparent;
    border-bottom: 1px solid #dedede;
    padding: 5px;
    margin-bottom: 5px !important;
    float: left;
    width: 100%;
}

    .edit_history .history_section .lbl_flex {
        padding-top: 0px;
    }

.edit_history .lbl_flex {
    display: inline;
    justify-content: space-between;
}

.edit_history .history_info {
    float: left;
}

    .edit_history .history_info span:nth-child(1) {
        background: #dedede;
        /* padding: 10px; */
        width: 30px;
        border-radius: 40px;
        width: 30px;
        height: 30px;
        position: relative;
        display: inherit;
        float: left;
        text-align: center;
        line-height: 30px;
        margin-right: 10px;
    }

    .edit_history .history_info span i {
        font-size: 16px;
    }

.edit_history .history_name {
    position: relative;
    top: 6px;
}

.edit_history ._download {
    float: right;
}

    .edit_history ._download span:nth-child(1) {
        background: green;
        width: 20px;
        height: 20px;
        float: left;
        border-radius: 30px;
        text-align: center;
        line-height: 20px;
        color: #fff;
        margin-right: 6px;
    }

    .edit_history ._download span i {
        font-size: 12px;
    }

.edit_history .date_font {
    font-size: 11px;
    padding-right: 10px;
}

.edit_history .history_section p {
    margin-bottom: 0px;
    float: left;
    width: 100%;
    margin-top: 5px;
    font-size: 12px;
}

.edit_history .hide {
    display: none;
}

.btn-info {
    color: #fff;
    background-color: #0dcaf0;
    border-color: #0dcaf0;
    padding: 8px 15px;
    line-height: 1;
    border-radius: 10px 0px !important;
}

    .btn-info:hover, .btn-info:focus, .btn-info:active {
        color: #fff;
        background-color: #00bde2;
        border-color: #00bde2 !important;
        box-shadow: none;
    }
